<div id="<%= dom_id comment %>" class="list-group-item list-group-item-action d-flex gap-3 py-3">
  <div class="d-flex gap-2 w-100 justify-content-between">
    <div>
      <h6 class="mb-0"><%= comment.content %></h6>
      <p class="mb-0 opacity-75"><%= comment.user.email %></p>
    </div>
    
    <div class="d-flex align-items-center">
      <%= link_to "Edit comment", edit_comment_path(comment), class: "btn btn-outline me-1" %>
      <%= button_to "Delete comment", comment_path(comment), method: :delete, class: "btn btn-danger text-white" %>
    </div>
  </div>
</div>
    
